Repository ajithrao13-jpg/liquibase: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-liquibase-properties, block-env-files, check-sql-syntax

block-liquibase-properties:
  name: Block liquibase.properties
  entry: liquibase.properties should not be committed (use liquibase.properties.example)
  language: fail

block-env-files:
  name: Block .env files
  entry: .env files should not be committed (use .env.example)
  language: fail

check-sql-syntax:
  name: Basic SQL syntax check
  entry: bash -c 'grep -i "DROP DATABASE\|TRUNCATE TABLE\|DELETE FROM.*WHERE.*1.*=.*1" "$@" && exit 1 || exit 0'
  language: system

initial
  .gitignore
  .gitlab-ci.yml
  README.md
  changelog.sql
  changelog.xml
  code/procedures.sql
  code/tables.sql
  code/views.sql
  db.changelog-master.xml
  liquibase.checks-settings.conf
  liquibase.properties
  objects/storedprocedures/CustOrderHist1.sql
  objects/storedprocedures/CustOrderHist_v1.sql
  objects/storedprocedures/CustOrderHist_v2.sql
  objects/storedprocedures/CustOrdersDetail.sql
  objects/storedprocedures/CustOrdersOrders.sql
  objects/storedprocedures/Employee Sales by Country.sql
  objects/storedprocedures/Sales by Year.sql
  objects/storedprocedures/SalesByCategory.sql
  objects/storedprocedures/Ten Most Expensive Products.sql
  postgresql-42.7.8.jar
Due: block-liquibase-properties, check-sql-syntax

Create table-sp-views.sql
  table-sp-views.sql
Due: check-sql-syntax

Create person and customer tables with procedures
  gitlab-changes
Due: none

Create rollback.yml
  rollback.yml
Due: none

Define RB_TAG, RB_LABEL, and RB_CMD variables
  rollback.yml
Due: none

Create custom-job.yaml
  custom-job.yaml
Due: none

Refine descriptions for rollback variables
  custom-job.yaml
Due: none

Create architecture.md
  architecture.md
Due: none

arch diagrams
  arch-diagram/arch.md
  arch-diagram/arch1.md
  arch-diagram/arch2.md
Due: none

Path conditions:
  block-liquibase-properties: any of: ^liquibase\.properties$, but not: (?x)^(
  .*\.jar|
  .*\.log|
  \.git/.*|
  node_modules/.*|
  venv/.*
)$

  block-env-files: any of: ^\.env$, but not: (?x)^(
  .*\.jar|
  .*\.log|
  \.git/.*|
  node_modules/.*|
  venv/.*
)$

  check-sql-syntax: any of: \.sql$, but not: (?x)^(
  .*\.jar|
  .*\.log|
  \.git/.*|
  node_modules/.*|
  venv/.*
)$

